*{
    margin: 0;
    padding: 0;
    background: #010306;
}
.container{
    width: 375px;
    height: 451px;
    margin: 0 auto;
    top: 8px;
    border: 3px solid rgb(49, 49, 49);
    border-radius: 35px;
    background: rgb(206, 228, 245);
    box-shadow: 0px 2px 3px -1px #9ac7ee87;
    position: relative;
}


.camera-phone{
    width: 116Px;
    height: 118px;
    border-radius: 30px;
    background: #cee4f5;
    position: relative;
    top: 10px;
    box-shadow: 0px 1px 1px 0.5px grey;
    left: 9px;
    border: 2px solid #b6d4ee87;

    
}
.face{
    width: 220px;
    height: 441px;
    margin-top: -126px;
    margin-left: 134px;
    position: relative;
    background-color: hsla(225, 78%, 38%, 0.773);
    border: 7px solid rgb(49, 49, 49);
    border-radius: 35px;
    left: 9px;
    text-align: center;
}

.camera{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(28, 28, 28);
    border: 4px solid #cee4f5;
    box-shadow: 0px 6px 3px rgb(105, 103, 103);
}

.cam-1{
    position: absolute;
    top: 4px;
    left: 8px;
}

.cam-2{
    position: absolute;
    bottom: 6px;
    left: 8px;
}

.cam-3{
    position: absolute;
    right: 8px;
    top: 33px;
}

.cam-ecl{
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 100%;
    top: 8px;
    right: 8.2px;
    background: radial-gradient(#3d77a2 30%, #11203a 15%);
}

.point-gris{
    width: 17px;
    height: 17px;
    background-color: #636568;
    border-radius: 100px;
    bottom: 8px;
    right: 23px;
    box-shadow: 1px 3px 5px #98bcf2;
    position: absolute;
}

.point-blanc{
    width: 3px;
    height: 4px;
    background-color: #636568;
    border-radius: 100%;
    position: absolute;
    bottom: 21px;
    right: 9px;
}

.flash{
    width: 17px;
    height: 17px;
    background-color: rgb(28, 28, 28);
    border-radius: 100%;
    position: absolute;
    top: 8px;
    right: 23px;
    border: 2px solid #cfc4bd;
    background: radial-gradient(#f5e3d5 30%,#fff2e6 15%);
    box-shadow: 0px 1Px 1px 1px grey;
}

.logo{
    width: 60px;
    position: absolute;
    margin-top: 174px;
    margin-left: 68px;
    background: #cee4f5;
}